<div class="card mx-auto shadow-card  mt-3 mb-3">
  <div class="card-header">
    <b>Inicio de Sesión</b>
  </div>
  <div class="card-body">
      <div class="row">
          <div class="col-sm-12">
            <form [formGroup]="userForm" (ngSubmit)="LoginSession()">
              <div class="form-group mt-2 mb-2">
                <label for="title">Usuario: </label>
                <input type="text" name="email" formControlName="email" [(ngModel)]="dataLogin.email" class="form-control form-control-sm">
                <div *ngIf="userForm.controls['email'].errors && userForm.controls['email'].dirty" class="" style="font-size: 14px; color:red;">
                  Este campo es requerido
                </div>
              </div>
              <div class="form-group mt-2 mb-2">
                <label for="title">Contraseña: </label>
                <input type="password" name="password" formControlName="password" [(ngModel)]="dataLogin.password" class="form-control form-control-sm">
                <div *ngIf="userForm.controls['password'].errors && userForm.controls['password'].dirty" class="" style="font-size: 14px; color:red;">
                  Este campo es requerido
                </div>
              </div>
            </form>
          </div>
      </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-sm-6 text-right">
        <button class="btn btn-sm btn-success mx-auto" (click)="LoginSession()" [disabled]="userForm.invalid" type="submit">Login</button>
      </div>
    </div>
  </div>
</div>
